<section class="section-2k25">
    <img class="section-2k25-paper" src="assets/general/paper.png">
    <img class="section-2k25-star-5" src="assets/general/star-5.png">
    <img class="section-2k25-cd" src="assets/general/cd.png">
    <img class="section-2k25-gaga-2" src="assets/artists/gaga-2.png">
    <img class="section-2k25-tate-2" src="assets/artists/tate-2.png">
    <img class="section-2k25-2025" src="assets/text/2025.png">

    <img class="section-2k25-chess" src="assets/stamps/chess.png">
    <img class="section-2k25-chess-pieces-2" src="assets/general/chess-pieces-2.png">


    <img class="section-2k25-sparkles" src="assets/general/sparkles.png">
    <img class="section-2k25-pointer" src="assets/general/pointer.png">
</section>
<section class="section-footer"> 
    <span class="section-footer-title">Lançados em 2025</span>
    <span class="section-footer-link"> ► SAIBA MAIS </span>
</section>