@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand.ttf') format('ttf'),
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/firacode.ttf') format('ttf'),
}

@font-face {
    font-family: 'Panton Black';
    src: url('/fonts/panton-black.ttf') format('ttf'),
}

@font-face {
    font-family: 'Panton Black Italic';
    src: url('/fonts/panton-black-italic.ttf') format('ttf'),
}

:root, * {

    --container-width: 1000px;

    --default-background-color: #000;
    --default-border-color: #FFF;

    --aside-border: 1px solid #FFF;

    --header-height: 220px;
    --header-border: 1px solid #FFF;

    --nav-border: 1px solid #FFF;
    
    --main-border: 1px solid #FFF;
    --default-red:    rgb(255, 66, 69);
    --default-orange: rgb(255, 146, 48);
    --default-yellow: rgb(255, 214, 0);
}

*, html, body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #222;
    color: #fff;
}

img {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}