
.app-section-search {
    display: flex;
    flex-direction: column;
}

.app-section-search-filter {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px dashed var(--default-border-color);
}

.app-section-search-filter-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 15px;
}


.app-section-search-input,
.app-input {
    background-color: var(--default-background-color);
    border: 1px solid var(--default-border-color);
    border-radius: 4px;
    width: -webkit-fill-available;
    padding: 8px 12px;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    color: var(--default-text-color);
}

.app-section-search-select,
.app-select {
    background-color: var(--default-background-color);
    border: 1px solid var(--default-border-color);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    color: var(--default-text-color);
}

/* */ 

.app-section-search-results,
.app-section-results {
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
}

.app-section-search-result-row,
.app-section-result-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.app-section-no-result {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}