
<section class="section-search-container">
    <div class="section-search-filter-container">
        <div class="section-search-filter-container-row">
            <input class="section-search-input" type="text" placeholder="Busca...">
            <select class="section-search-select">
                <option>Todos</option>
                <option>Artistas</option>
                <option>Álbuns</option>
                <option>Faixas</option>
            </select>
        </div>
    </div>
    <div class="section-search-result-container">
        <div class="section-search-result-row">
            <div class="component-album-container">
                <div class="component-album-display">
                    <img class="component-artist-image" src="assets/dev/lola.png">
                    <div class="component-artist-microphone">
                        <img class="component-artist-microphone-image" src="assets/general/microphone.png">
                    </div>
                </div>
                <span class="component-album-title">Lola Young</span>
            </div>
        </div>
        <span class="section-search-no-result">Nenhum resultado encontrado</span>
</section>