
<section class="app-section app-section-search">
    <div class="app-section-filter app-section-search-filter">
        <div class="app-section-filter-row app-section-search-filter-row">
            <input class="app-input app-section-search-input" type="text" placeholder="Busca...">
            <select class="app-select app-section-search-select">
                <option>Todos</option>
                <option>Artistas</option>
                <option>Álbuns</option>
                <option>Faixas</option>
            </select>
        </div>
    </div>
    <div class="app-section-results app-section-search-results">
        <div class="app-section-result-row app-section-search-result-row">
            <div class="app-component app-component-album">
                <div class="app-component-display">
                    <img class="app-component-artist-image" src="assets/dev/lola.png">
                    <div class="app-component-artist-microphone">
                        <img class="app-component-artist-microphone-image" src="assets/general/microphone.png">
                    </div>
                </div>
                <span class="app-component-album-title">Lola Young</span>
            </div>
        </div>
        <span class="app-section-no-result">Nenhum resultado encontrado</span>
</section>