<section class="app-aside-header">
    <img class="app-aside-avatar" src="https://placehold.co/400.png" alt="avatar"/>
    <span class="app-aside-username">kitsuneislife</span>
</section>
<section class="app-aside-menu">
    <div class="app-aside-menu-item">Fazer login</div>
    <div class="app-aside-menu-item">Meu perfil</div>
</section>