<section class="app-aside-section-header app-section">
    <img class="app-aside-avatar-img" src="https://placehold.co/400.png" alt="avatar"/>
    <span class="app-aside-username-span">kitsuneislife</span>
</section>
<section class="app-aside-section-menu app-section">
    <div class="app-aside-menu-item-first" style="margin-top: 5px;">Fazer login</div>
    <div class="app-aside-menu-item">Meu perfil</div>
</section>