
<section class="app-section app-section-latest">
    <div class="app-section-row app-section-latest-row">
        <% for(let i = 1; i <= 8; i++) { %>
        <div class="app-component app-component-album">
            <div class="app-component-display">
                <img class="app-component-album-cover" src="assets/dev/virgin.png">
                <div class="app-component-album-vinyl">
                    <img class="app-component-album-vinyl-image" src="assets/general/vinyl.png">
                </div>
            </div>
            <span class="app-component-album-title">Virgin</span>
            <span class="app-component-album-artist">Lorde</span>
        </div>
        <% } %>
    </div>
</section>