
<section class="section-latest">
    <div class="section-latest-row">
        <% for(let i = 1; i <= 8; i++) { %>
        <div class="component-album-container">
            <div class="component-album-display">
                <img class="component-album-cover" src="assets/dev/virgin.png">
                <div class="component-album-vinyl">
                    <img class="component-album-vinyl-image" src="assets/general/vinyl.png">
                </div>
            </div>
            <span class="component-album-title">Virgin</span>
            <span class="component-album-artist">Lorde</span>
        </div>
        <% } %>
    </div>
</section>